Source: gryphonmoon
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@dash.org>
Uploaders: Holger Schinzel <holger@dash.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 pkg-config,
 libevent-dev,
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.gryphonmoon.com/
Vcs-Git: git://github.com/gogryphon/gryphonmoon.git
Vcs-Browser: https://github.com/gogryphon/gryphonmoon

Package: gryphonmoond
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Gryphonmoon is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Gryphonmoon uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Gryphonmoon Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, gryphonmoond, and the CLI tool
 gryphonmoon-cli to interact with the daemon.

Package: gryphonmoon-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Gryphonmoon is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Gryphonmoon uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Gryphonmoon Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Gryphonmoon-Qt, a GUI for Gryphonmoon based on Qt.

Package: gryphonmoon-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Gryphonmoon is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. Gryphonmoon uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Gryphonmoon Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides gryphonmoon-tx, a command-line transaction creation
 tool which can be used without a gryphonmoon daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
